$base-padding: 20px;
$base-background-color: #c0eea9 ;
$base2-background-color: #97d279;

@mixin line {
  width: 3em;
  height: 1px;
  background-color: #000;
  margin-right: 1em;
}

// @mixin title {
//   display: flex;
//   align-items: center;
//   text-transform: uppercase;
//   letter-spacing: 1px;
//   padding-bottom: 1em;
// }

@mixin text {
  max-width: 700px;
  text-align: center;
  padding: $base-padding;  
}

// @mixin title-right {
//   justify-content: flex-end;
// }
  
// @mixin line-right {
//   order: 2;
//   margin-right: 0;
//   margin-left: 1em;
// } 